# npm
node_modules
www
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
.env
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
