<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/winwheel.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    
    <main>
        <!-- <div class="roue">
            <div class="spin-spin-one"></div>
        </div> -->
        <canvas id="winwheelCanvas" width="500" height="500"></canvas>
        <button onclick="startWheel()">Tourner la roue</button>
    </main>

    <footer>
        <p>© <%= new Date().getFullYear() %> My Website</p>
    </footer>

    <script src="/js/winwheel.js"></script>
</body>
</html>
